.home {
  padding: 56px 0px;
  min-height: 100%;
  width: 100%;
}

.goal-name {
  display: inline-block;
  margin: 0;
  width: 60%;
}

.goal-iteration {
  display: inline-block;
  width: 20%;
  margin: 0;
}

button {
  display: inline-block;
}

