.header {
  height: 56px;
  text-align:center;
  width: 100%;
}

.header h1 {
  font-size: 64px;
  line-height: 64px;
  margin: 0;
}
  
.header p {
  margin: 0 0 5px;
}

.header nav {
  width: 100%;
}

.header nav a {
  display: inline-block;
  line-height: 30px;
  width: 33%;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(0,0,0,0.2);
  text-decoration: none;
  color: white;
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(0,0,0,0.4);
}

.header nav a.active {
  background: rgba(0,0,0,0.6);
}
