html, body {
  height: 100%;
  width: 90%;
  padding: 0;
  margin: 0 auto;
  background: #FAFAFA;
  background: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/78/11/7957c10a7ead708.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
